
name: Compile presentation, cheat sheet and exercises
on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Compile presentation
        uses: dante-ev/latex-action@v0.2.0
        with:
          root_file: Vortrag.tex
          args: -latexoption=-shell-escape -latexoption=-interaction=nonstopmode
      - name: Compile exercises
        uses: dante-ev/latex-action@v0.2.0
        with:
          root_file: Aufgaben-gen.tex
          args: -latexoption=-shell-escape -latexoption=-interaction=nonstopmode
      - name: Compile cheat sheet
        uses: dante-ev/latex-action@v0.2.0
        with:
          root_file: cheat-sheet.tex
          args: -latexoption=-shell-escape -latexoption=-interaction=nonstopmode
      - name: Upload presentation
        uses: actions/upload-artifact@v2
        with:
          name: Vortrag
          path: presentation.pdf
      - name: Upload presentation
        uses: actions/upload-artifact@v2
        with:
          name: Aufgaben-gen
          path: Exercises.pdf
      - name: Upload presentation
        uses: actions/upload-artifact@v2
        with:
          name: cheat-sheet
          path: Cheat_Sheet.pdf
